/* TEXT AND MEDIA TAGS*/

@font-face {
    font-family: "happy times at the ikob new game plus edition";
    src: url('assets/happy-times-NG_regular_master_web.ttf');
}

@font-face {
    font-family: "happy times at the ikob new game plus edition";
    font-style: italic;
    src: url('assets/happy-times-NG_italic_master_web.ttf');
}

* {
    font-family: "happy times at the ikob new game plus edition";
    font-size: 1.1rem;
    line-height: 132%;
    color: white;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

}

.jonasriemersma {
    animation: blinkingBackground 20s infinite;
}

@keyframes blinkingBackground {
    0% {
        background-color: #000000;
    }

    47.5% {
        background-color: #000000;
    }

    49.5% {
        background-color: rgb(82, 91, 255);
    }

    50.5% {
        background-color: rgb(82, 91, 255);
    }

    52.5% {
        background-color: #000000;
    }

    100% {
        background-color: #000000;
    }
}


body {
    margin: 0 auto;
    background-color: black;
}

.divider {
    height: 10px;
    background: rgb(0, 0, 0);
    width: 100%;
    position: relative;
    margin-top: 8px;
    margin-bottom: -10px;
}


em {
    font-size: 0.95rem;
    font-style: normal;
    text-decoration: none;
}


.topspacer {
    height: 65vh;
}

.toptopspacer {
    height: 0vh;
}

.topgradient {
    height: 15vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0), black);
    position: relative;
}

h1 {
    font-size: 1.3rem;
    text-decoration: none;
    font-weight: 400;
}

i {

    font-style: italic;
}

.caption {
    font-size: 0.95rem;
    font-style: italic;
}

video {
    height: 80vh;
}

img {
    width: 100%;
}

.othersideimglink {
    margin: auto;
    position: relative;
    display: block;
    width: 45%;
}


hr {
    border: none;
    border-top: 1px double black;

    background-color: black;
    overflow: visible;
    text-align: center;
    height: 2px;
}




/* LINK TAGS */

a:link {
    color: white;

}

a:visited {
    color: white;
}

a:hover {
    color: white;
    background-color: rgb(82, 91, 255);

}


/* FLICKITY IMAGE CAROUSEL*/

.gallery {
    background: black;
    font-size: 18pt;
    font-weight: 500;

    margin-right: 0px;


    position: relative;
    max-width: 100vw;
    left: 50%;
    margin-left: -50vw;
    margin-bottom: 4px;

}

.gallery-cell {

    height: 91.5vh;
    margin-right: 10px;
    width: 100%;
    background: black;
    counter-increment: gallery-cell;
}

.gallery-cell:before {
    display: block;

    content: counter(gallery-cell);
    line-height: 0px;
    font-size: 80px;
    color: black;
}

.gallery-cell img {
    object-fit: scale-down;
    position: relative;

    left: 0;

    width: 100%;
    height: 100%;
}

.gallery-cell video {
    object-fit: cover;
    position: relative;
    top: 0;
    left: 0;

    width: 100%;
    height: 67.7%;
}



/* TEXT AND IMAGE GRID */

.header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1.6%;
    margin-left: 0%;
    padding-right: 1.5%;
    margin-right: 0%;
    margin-top: 0%;
    height: 80%;
    position: fixed;
}



.therest {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
    margin-left: 2px;
    margin-top: 10px;
    margin-bottom: 14px;
}

.therestimg {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;


}

.therestimg:hover {
    display: flex;
    justify-content: center;
    align-items: center;

}





.resttext {
    position: relative;


}

/* IMAGE ZOOM */



.img-zoom-lens {
    position: absolute;

    /*set the size of the lens:*/
    width: 200px;
    height: 200px;
}

.img-zoom-result {

    /*set the size of the result div:*/
    width: 100%;
    height: 100%;
}


/* FLIP BOX */

/* The flip box container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-box {
    background-color: black;

    position: relative;
    /*   perspective: 90vh; */

    margin-bottom: 4vh;


}



/* This container is needed to position the front and back side */
.flip-box-inner {
    position: relative;

    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;

}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flipped .flip-box-inner {
    transform: rotateX(-180deg);
    transition: transform 0.8s;
    transform-style: preserve-3d;
    background: black;
}



/* Position the front and back side */
.flip-box-front,
.flip-box-back {
    position: relative;

    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;

}

/* Style the front side */
.flip-box-front {
    background-color: black;

    transform: rotateX(0deg);
}

/* Style the back side */
.flip-box-back {
    background-color: black;
    color: white;
    transform: rotateX(-180deg);


}

.gridcontain {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: left;
    grid-column-gap: 10px;
    height: 100vh;
    background-color: black;
    margin-bottom: -70px;

    position: fixed;
    z-index: 1;
    margin-left: 1vw;
}


.flippytextcont {
    padding: 1rem;
    padding-left: 1vw;
    background-color: black;
    z-index: 0;
    position: relative;
    margin-bottom: 3.5vh;


}

.flippytext {
    position: relative;
    display: table;
    margin-left: 50%;
    margin-top: -1.45rem;
    text-decoration: underline;


}


.flippytext:hover {

    background-color: rgb(82, 91, 255);
    cursor: pointer;
}

.flippytextB:hover {
    background-color: rgb(82, 91, 255);
    cursor: pointer;
}



/*SECONDARY PAGES*/

.itemgrid {
    display: grid;
    grid-template-columns: 13.5% 1fr 13.5%;
    grid-column-gap: 1.6%;
    grid-row-gap: 1.6%;
    margin-left: 1vw;
    margin-top: 1.7%;
}

.itemtitle {
    margin-bottom: 3rem;
    text-align: center;
    font-style: italic;
    letter-spacing: -0.2rem;


    font-size: 7rem;
    line-height: 110%;
}

.itemtitle2 {
    margin-bottom: 3rem;
    text-align: center;
    font-style: italic;
    font-size: 4.5rem;
    line-height: 110%;
}


@media screen and (max-aspect-ratio: 1/1) {

    * {
        font-size: 1.1rem;
    }

    h1 {
        font-size: 1.2rem;
        text-decoration: none;
        font-weight: 400;
    }



    video {
        width: 100%;
    }



    .gallery-cell {
        max-height: 80vh;
        width: 100vw;
        background: white;
        counter-increment: gallery-cell;


    }

    .gridcontain {
        display: grid;
        grid-template-columns: 1fr 0px;
        text-align: left;
        grid-column-gap: 0px;
 

        position: fixed;
        z-index: 1;
        margin: 1rem;
    }

    .gallery-cell img {
        object-fit: scale-down;
        background-color: black;

        left: 0;

        width: 100%;
        height: 100%;
    }

    .flippytextcont {
        padding: 1rem;
        padding-left: 1rem;
        background-color: black;
        z-index: 0;
        position: relative;
        margin-bottom: 3.5vh;


    }

    .header {
        display: grid;
        grid-template-columns: 97.4%;
        grid-column-gap: 1.6%;
        padding-left: 1rem;
        padding-right: 1rem;
        position: relative;
    }

    .closer {
        display: grid;
        grid-template-columns: 97.4%;
        grid-column-gap: 1.6%;
        padding-left: 1rem;
        padding-right: 1rem;
        position: relative;
    }





    .flippytext {
        position: absolute;
        margin-top: 10px;
        margin-left: 0px;
        text-decoration: underline;

    }



    .flippytextcont {
        padding-bottom: 50px;
    }

    .flipped .flip-box-inner {
        transform: rotateX(-180deg);
        transition: transform 0.8s;
        transform-style: preserve-3d;
        background: black;
    }

    .therest {
        display: grid;
        grid-template-columns: 97.4%;
        grid-column-gap: 1.6%;
        margin-left: 1%;
        margin-top: 8%;

    }

    .topspacer {
        height: 0vh;
    }

    .toptopspacer {
        height: 2vh;
    }

}
