/* TEXT AND MEDIA TAGS*/

@font-face {
    font-family: "happy times at the ikob new game plus edition";
    src: url('assets/happy-times-NG_regular_master_web.ttf');
}

@font-face {
    font-family: "happy times at the ikob new game plus edition";
    font-style: italic;
    src: url('assets/happy-times-NG_italic_master_web.ttf');
}

* {
    font-family: "happy times at the ikob new game plus edition";
    font-size: 1.1rem;
    line-height: 125%;
    font-weight: 550;
    color: white;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;



}

.endthing {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1.6%;
    margin-left: 0%;
    padding-right: 1.5%;
    padding-left: 1.5%;
    margin-right: 0%;
    margin-top: 0%;
    
}

.endthing1 {
    text-align: left;
}

.endthing2 {
    text-align: right;
}

.aboutthing:hover{
    background-color: rgb(195, 195, 195);
    
}

.aboutthing{
    font-size: 1.35rem;
}

.containeverything {
    background-color: black;
    position: relative;
    overflow: hidden;
}

.onlydesktop {

 
    position: relative;
}

.showonlydesktop {
    display: block;
}

.showonlymobile {
    display: none;
}

ul {
    position: relative;
    list-style: none;
    
}

li::before {
    content: '\2192';
    position: absolute;
    left: 0;


}



.biglink {
    font-size: 1.4rem;


}

.bottomspacer {
    height: 25vh;
    position: relative;
}

.firstnamemobile {
    display: none;
    position: fixed;

}


body {
    margin: 0 auto;
    background-color: black;

}

.divider {
    height: 10px;
    background: rgb(0, 0, 0);
    width: 100%;
    position: relative;
    margin-top: 8px;
    margin-bottom: -10px;
}


em {
    font-size: 0.95rem;
    font-style: normal;
    text-decoration: none;
}


.topspacer {
    height: 55vh;
}



.topgradient {
    height: 15vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0), black);
    position: relative;
}

h1 {
    font-size: 1.35rem;
    text-decoration: none;

}



i {

    font-style: italic;
}

.caption {
    font-size: 0.95rem;
    font-style: italic;
}

video {
    height: 80vh;
}

img {
    width: 100%;
}

.othersideimglink {
    margin: auto;
    position: relative;
    display: block;
    width: 45%;
}


hr {
    border: none;
    border-top: 1px double black;

    background-color: black;
    overflow: visible;
    text-align: center;
    height: 2px;
}




/* LINK TAGS */

a:link {
    color: white;

}

a:visited {
    color: white;
}

a:hover {
    color: white;
    background-color: rgb(195, 195, 195);

}


/* FLICKITY IMAGE CAROUSEL*/

.gallery {
    background: black;
    font-size: 18pt;
    font-weight: 500;

    margin-right: 0px;


    position: relative;
    max-width: 98vw;
    left: 50%;
    margin-left: -50vw;
    margin-bottom: 4px;

}

.gallery-cell {

    height: 91.5vh;
    margin-right: 10px;
    width: 100%;
    background: black;
    counter-increment: gallery-cell;
}

.gallery-cell:before {
    display: block;

    content: counter(gallery-cell);
    line-height: 0px;
    font-size: 80px;
    color: black;
}

.gallery-cell img {
    object-fit: scale-down;
    position: relative;

    left: 0;

    width: 100%;
    height: 100%;
}

.gallery-cell video {
    object-fit: cover;
    position: relative;
    top: 0;
    left: 0;

    width: 100%;
    height: 67.7%;
}



/* TEXT AND IMAGE GRID */

.header {
    display: grid;
    grid-template-columns: 20% 1fr;
    grid-column-gap: 1.5%;
    margin-left: 0%;
    padding-right: 1.5%;
    padding-left: 1.5%;
    margin-right: 0%;
    margin-top: 0%;
    height: 80%;
    width: 100%;
    position: fixed;
}

details summary::-webkit-details-marker {
        display: none;
    }

    details>summary {
        list-style: none;
    }



.therest {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
    margin-left: 2px;
    margin-top: 10px;
    margin-bottom: 14px;
}

.therestimg {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;


}

.therestimg:hover {
    display: flex;
    justify-content: center;
    align-items: center;

}





.resttext {
    position: relative;


}

/* IMAGE ZOOM */



.img-zoom-lens {
    position: absolute;

    /*set the size of the lens:*/
    width: 200px;
    height: 200px;
}

.img-zoom-result {

    /*set the size of the result div:*/
    width: 100%;
    height: 100%;
}


/* FLIP BOX */

/* The flip box container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-box {
    background-color: black;

    position: relative;
    /*   perspective: 90vh; */

    margin-bottom: 4vh;


}



/* This container is needed to position the front and back side */
.flip-box-inner {
    position: relative;

    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;

}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flipped .flip-box-inner {
    transform: rotateX(-180deg);
    transition: transform 0.8s;
    transform-style: preserve-3d;

}



/* Position the front and back side */
.flip-box-front,
.flip-box-back {
    position: relative;

    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;

}

/* Style the front side */
.flip-box-front {
    background-color: black;

    transform: rotateX(0deg);
}

/* Style the back side */
.flip-box-back {

    color: white;
    transform: rotateX(-180deg);


}

.gridcontain {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: left;
    grid-column-gap: 10px;
    height: 100vh;
    width: 96%;

    margin-bottom: -70px;
    cursor: pointer;
    position: fixed;
    z-index: 1;
    margin-left: 1vw;
}


.flippytextcont {
    padding: 1rem;
    padding-left: 1vw;
    background-color: black;
    z-index: 0;
    width: 99%;
    position: relative;
    margin-bottom: 3.5vh;


}

.flippytext {
    position: relative;
    display: table;
    margin-left: 73.5%;
    margin-top: -1.45rem;
}

.flippytext:hover {
    background-color: rgb(195, 195, 195);
    cursor: pointer;
}


.flippytextcont:hover {

    cursor: pointer;
}

.flippytextB:hover {
    background-color: rgb(195, 195, 195);
    cursor: pointer;
}



@media screen and (max-aspect-ratio: 1/1) {

    * {
        font-size: 1.1rem;
        hyphens: auto;
    }

    details summary::-webkit-details-marker {
        display: none;
    }

    details>summary {
        list-style: none;
    }

    h1 {
        font-size: 1.25rem;
        text-decoration: none;
        font-weight: 400;
        hyphens: none;
    }

    .biglink {
        font-size: 1.25rem;
        line-height: 132%;
    }



    video {
        width: 100%;
    }

    .gallery {
        margin-right: 0px;
        position: relative;
        max-width: 100vw;
    }

    .gallery-cell {
        max-height: 70vh;
        width: 100vw;
        background: white;
        counter-increment: gallery-cell;
    }

    .gridcontain {
        display: grid;
        grid-template-columns: 1fr 0px;
        text-align: left;
        grid-column-gap: 1.2rem;
        margin: 1rem;

        position: absolute;

    }

    .gallery-cell img {
        object-fit: scale-down;
        background-color: black;

        left: 0;

        width: 100%;
        height: 100%;
    }

    .flippytextcont {
        padding: 1rem;
        padding-left: 1rem;
        background-color: black;
        z-index: 0;
        position: relative;
        margin-bottom: 3.5vh;


    }

    .header {
        display: grid;
        grid-template-columns: 97.4%;
        grid-column-gap: 1.6%;
        padding-left: 1rem;
        padding-right: 1rem;
        position: relative;
    }

    .closer {
        display: grid;
        grid-template-columns: 97.4%;
        grid-column-gap: 1.6%;
        padding-left: 1rem;
        padding-right: 1rem;
        position: relative;
    }





    .flippytext {
        position: absolute;
        margin-top: 10px;
        margin-left: 0px;
        text-decoration: underline;

    }



    .flippytextcont {
        padding-bottom: 50px;
        text-decoration: underline;
    }

    .flipped .flip-box-inner {
        transform: rotateX(-180deg);
        transition: transform 0.8s;
        transform-style: preserve-3d;


    }

    .therest {
        display: grid;
        grid-template-columns: 97.4%;
        grid-column-gap: 1.6%;
        margin-left: 1%;
        margin-top: 8%;

    }

    .topspacer {
        height: 0vh;
    }



    .pfiveone {
        display: none;
        position: relative;
        overflow: hidden;
        width: 0px;
        height: 0px;

    }

    .flippytext {
        display: none;
    }

    .firstnamemobile {
        display: block;
        z-index: 1;
        position: relative;
    }

    .bottomspacer {
        height: 0vh;
        position: relative;
    }

    .topgradient {
        display: none;
    }

    .onlydesktop {

        text-align-last: left;
        margin-left: 0em;
        text-indent: 0em;
    }

    .showonlydesktop {
        display: none;
    }

    .showonlymobile {
        display: inline;
    }

    .containeverything {
        width: 100%;
    }

    i {

        font-style: italic;
    }

    .endthing {
        position: relative;
        display: grid;
        grid-template-columns: 1fr;
        grid-column-gap: 1.6%;
        margin-left: 0%;
        padding-right: 1.5%;
        margin-right: 0%;
        margin-top: 0%;
    }

    .endthing1 {
        text-align: center;
    }

    .endthing2 {
        text-align: center;
    }
}
